* {
  margin: 0px;
  padding: 0px;
  font-family: "BLOMBERG", sans-serif;
}

body {
  background-color: #676551;
}

header {
  display: flex;
  flex-direction: column;
  color: #eef3f2;
  padding-top: 25px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.search-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 35%;
  padding-right: 35%;
}

.text-container {
  display: flex;
  justify-content: center;
}

#img-box {
  max-width: fit-content;
  max-height: fit-content;
  object-fit: cover;
  /* padding: 50px;
  margin: 20px; */
  border: 5px solid #911f1f;
  background-color: #911f1f;
  border-radius: 20px;
}

#image {
width: 350px;
height: 450px;
border-radius: 15px;
}

#quote-container {
  width: 400px;
  padding: 20px;
  margin: 20px;
  color: #2c292e;
  border: 5px solid #eef3f2;
  background-color: #cd9232;
  border-radius: 20px;
}

#character-name {
  font-size: 1rem;
}

#info-container {
  width: 400px;
  padding: 20px;
  margin: 20px;
  color: #2c292e;
  border: 5px solid #eef3f2;
  background-color: #cd9232;
  border-radius: 20px;
}

#btn {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  color: #2c292e;
  background-color: #cd9232;
  margin-bottom: 20px;
  box-shadow: #2c292e 5px 8px 4px;
}

#search-bar {
  border-radius: 20px;
}
